@model IList<PhotoSharer.MVC.ViewModels.Groups.GroupListPageItemViewModel>
@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>
<ul class="nav nav-pills">
    <li role="presentation">@Html.ActionLink("My groups", "Index", "Groups")</li>
    <li role="presentation" class="active">@Html.ActionLink("Administration", "Administration", "Groups")</li>
</ul>
<hr />
@if (Model.Count == 0)
{
    <p>You are not a creator of any group.</p>
}
else
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Group List</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover" id="table">
                <tbody>
                    @foreach (var group in Model)
                    {
                        <tr>
                            <th>@Html.ActionLink(group.Name, "Group", new { Url = group.Link })</th>
                            <td>
                                <input type="text" style='width:50em' disabled value="@Url.Action("Group", "Groups", new { Url = group.Link }, "http")">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Link was successfully copied</h4>
            </div>
        </div>

    </div>
</div>




