@model PhotoSharer.Business.Entities.AppGroup

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <h4>AppGroup</h4>
    
<p>
    @Html.ActionLink("Join to group", "JoinGroup", new { id = Model.Url})
    @Html.ActionLink("Back to List", "Index")
</p>
    </div>
