@model IList<PhotoSharer.MVC.ViewModels.Groups.GroupListPageItemViewModel>
@{
    ViewBag.Title = "MyGroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Groups</h2>

@if (Model.Count == 0)
{
    <h3>No Groups</h3>
}
else
{
    <div class="list-group">
        @foreach (var group in Model)
                {
            <button type="button" class="list-group-item-success">
                <h4>@Html.ActionLink(group.Name, "Group", new { Url = group.Url })</h4>
                <hr>
                @group.Url
            </button>

        }
    </div>
}


