@model IList<PhotoSharer.MVC.ViewModels.Groups.GroupListPageItemViewModel>
@{
    ViewBag.Title = "MyGroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .textBox {
        height: 30px;
        width: 400px;
    }

    p {
        color: #000000;
        font-size: 20px;
        display: none;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<h2>My Groups</h2>

@if (Model.Count == 0)
{
    <div class="alert alert-warning" role="alert">You don`t stay in no one group </div>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Group List</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover" id="table">
            <tbody>
                @foreach (var group in Model)
                {
                    <tr>
                        <th>@Html.ActionLink(group.Name, "Group", new { Url = group.Url })</th>
                        <td>
                            <input type="text" disabled value="@Url.Action("Group", "Groups", new { Url = group.Url }, "http")">
                            <button url="@group.Url" class="btn btn-primary">Скопировать ссылку</button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#table').on('click', 'button', function () {
            var url = $(this).parent().find('input[type=text]').val();
            copyToClipboard(url);
        });
    });


    function copyToClipboard(url) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(url).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>


