@model IList<PhotoSharer.MVC.ViewModels.Groups.GroupListPageItemViewModel>
@{
    ViewBag.Title = "Owned";
}

<h2>Owned</h2>
<ul class="nav nav-pills">
    <li role="presentation">@Html.ActionLink("My", "My", "Groups")</li>
    <li role="presentation" class="active">@Html.ActionLink("Owned", "Owned", "Groups")</li>
</ul>
<hr />
@if (Model.Count == 0)
{
    <p>You are not a creator of any group.</p>
}
else
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Group List</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover" id="table">
                <tbody>
                    @foreach (var group in Model)
                    {
                        <tr>
                            <th>@Html.RouteLink(group.Name, "Group", new { link = group.Link })</th>
                            <td>
                                <h5><span class="label label-info">@Url.RouteUrl("Group", new { link = group.Link }, "http")</span></h5>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}





