<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/53f537cf-966f-4044-b6b4-785bc8ce2595/resourceGroups/PhotoSharer/providers/Microsoft.Web/sites/PhotoSharer</ResourceId>
    <ResourceGroup>PhotoSharer</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://photosharer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>photosharer.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PhotoSharer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PhotoSharer</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:photosharer.database.windows.net,1433;&#xD;&#xA;    Initial Catalog=PhotoSharerDB;&#xD;&#xA;    Persist Security Info=False;&#xD;&#xA;    User ID=ism;&#xD;&#xA;    Password=Writeln2234562!;&#xD;&#xA;    MultipleActiveResultSets=False;&#xD;&#xA;    Encrypt=True;TrustServerCertificate=False;&#xD;&#xA;    Connection Timeout=10;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:photosharer.database.windows.net,1433;&#xD;&#xA;    Initial Catalog=PhotoSharerDB;&#xD;&#xA;    Persist Security Info=False;&#xD;&#xA;    User ID=ism;&#xD;&#xA;    Password=Writeln2234562!;&#xD;&#xA;    MultipleActiveResultSets=False;&#xD;&#xA;    Encrypt=True;TrustServerCertificate=False;&#xD;&#xA;    Connection Timeout=10;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBConnection-Web.config Connection String" />
  </ItemGroup>
</Project>